///* Font */
@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic/CenturyGothic.ttf')  format('truetype'), url('../fonts/CenturyGothic/CenturyGothic.svg#CenturyGothic') format('svg');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf')  format('truetype'), url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Black/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black/Lato-Black.ttf')  format('truetype'), url('../fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Light/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light/Lato-Light.ttf')  format('truetype'), url('../fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}


