@import "mixins.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "CenturyGothic";
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;

  //& > div {
  //  position: relative;
  //  z-index: 1;
  //}
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body{
  color: #090909;
}

body.hidden{

  @include for-992{
    overflow: hidden;
    position: fixed;
  }

}

a{
  color: #090909;
}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }
}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.row{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col{
  padding: 0 15px;
}

.site-container{
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;

  &__inner{
    max-width: 992px;
  }
}

.site-title{

}

.section-title{
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  color: #111111;

  @include for-768{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #1A2F34;
  }
}

.header{
  position: relative;

  &__inner{

  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;

    @include for-992{
      padding-top: 12px;
    }

    @include for-550{
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }

  &__left{

    display: flex;
    align-items: center;
    width: 100%;
    max-width: 710px;
    justify-content: space-between;

    @include for-992{
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__mobile-menu{
    display: flex;
    margin-right: 25px;
    svg{
      width: 18px;
      height: 16px;
    }
  }

  &__mobile-search{
    display: flex;
  }

  &__top-menu{
    @include for-992{
      display: none;
    }
  }

  &__top-menu-items{
    display: flex;
  }

  &__top-menu-item{
    margin-right: 40px;

    @include for-992{
      margin-right: 15px;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  &__top-menu-link{
    font-size: 15px;
    line-height: 20px;
    color: #111111;
    transition: 0.3s;

    &:hover{
      color: #FF5722;
    }

    @include for-992{
      font-size: 13px;
    }
  }

  &__logo{
    img{
      max-width: 100%;

      @include for-992{
        height: 35px;
      }

      @include for-550{
        height: 22px;
      }
    }

    @include for-992{
      margin: 0 auto;
    }
  }

  &__right{
    @include for-992{
      //min-width: 155px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__lang{
    margin-right: 50px;

    @include for-992{
      margin-right: 20px;
      display: none;
    }
  }

  &__user{
    margin-right: 30px;

    svg path{
      transition: 0.3s;
    }

    &:hover{
      svg path{
        fill: #ff5722;
      }
    }

    @include for-992{
      margin-right: 20px;
      display: none;
    }
  }

  &__like{
    position: relative;
    margin-right: 30px;

    @include for-550{
      svg{
        width: 18px;
      }
    }
    svg path{
      transition: 0.3s;
    }

    &:hover{
      svg path{
        fill: #ff5722;
      }
    }


    span{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -24px;
      right: -11px;
      font-size: 14px;
      background: #FF5722;
      color: #ffffff;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      font-family: Lato;

      @include for-992{
        top: -10px;
        right: -11px;
        font-size: 11px;
        width: 15px;
        height: 15px;
      }

      @include for-550{
        top: -7px;
        right: -9px;
        font-size: 10px;
      }
    }
  }

  &__cart{
    position: relative;

    @include for-550{
      svg{
        width: 18px;
      }
    }

    svg path{
      transition: 0.3s;
    }

    &:hover{
      svg path{
        fill: #ff5722;
      }
    }


    span{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -24px;
      right: -11px;
      font-size: 14px;
      background: #FF5722;
      color: #ffffff;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      font-family: Lato;

      @include for-992{
        top: -10px;
        font-size: 11px;
        width: 15px;
        height: 15px;
      }

      @include for-550{
        top: -7px;
        right: -9px;
        font-size: 10px;
      }
    }
  }

  &__bottom{
    margin-top: 25px;

    @include for-992{
      margin-top: 5px;
      display: none;
    }
  }

  &__menu{
    position: relative;
    margin: 0 -15px;
  }

  &__menu-items{
    display: flex;

  }

  &__menu-item{

    &:hover{
      & .header__submenu-item-wrap{
        z-index: 20;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__menu-link{
    padding: 15px;
    background: #FFFFFF;
    display: block;

    @include for-992{
      font-size: 13px;
    }

    &:hover{
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    }
  }

  &__submenu-item-wrap{
    width: 100%;
    visibility: hidden;
    z-index: -10;
    opacity: 0;
    transition: 0.3s;

    position: absolute;
    background: white;
    top: 47px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  }

  &__submenu-wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 65px;
    padding: 45px 0 45px 45px;
  }

  &__submenu{

  }

  &__submenu-item{
    margin-bottom: 12px;

    &:first-child .header__submenu-link{
      font-weight: 600;
    }
  }

  &__submenu-link{
    font-size: 15px;
    line-height: 19px;
    color: #1A2F34;
    transition: 0.3s;

    &:hover{
      color: #FF5722;
    }

    @include for-992{
      font-size: 12px;
    }
  }

  &__submenu-img{
    position: relative;
    display: flex;

    img{
      max-width: none;
    }

    @include for-992{
      max-width: 300px;
    }

    a{
      width: 192px;
      height: 46px;
      position: absolute;
      background: #FF5722;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 75px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__search {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
    transition: 0.4s;
    position: absolute;
    bottom: -40px;
    width: 100%;
    left: 0;
    z-index: -10;

    &.open{
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      z-index: 2;
    }
  }

  &__search-inner{
    background: #1A2F34;
    padding: 6px 18px;
    display: flex;
    align-items: center;
  }

  &__search-input{
    width: 100%;

    input{
      height: 28px;
      width: 100%;
      padding-left: 15px;
      font-size: 13px;

      &::placeholder{
        font-size: 13px;
        padding-bottom: 5px;
        color: #777777;
      }
    }
  }

  &__search-button{
    input{
      background: url("../img/svg/search.svg") center center no-repeat;
      background-size: contain;
      border: 0;
      width: 14px;
      height: 14px;
      margin-left: -20px;
      padding: 0;
      margin-top: 2px;
      opacity: 0.7;
    }
  }

  &__search-close{
    width: 20px;
    height: 20px;
    background: url("../img/svg/close-search.svg") center center no-repeat;
    background-size: contain;
    margin-left: 10px;
  }
}

.breadcrumbs{
  margin-top: 20px;
  margin-bottom: 34px;

  &__inner{
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    margin-right: 8px;
    position: relative;
    transition: .3s;

    &:hover {
      color: #111111;
    }

    &:before {
      content: "/";
      margin-right: 8px;
    }

    &:first-child{
      color: #111111;

      &:before {
        display: none;
      }
    }

    &:last-child{

      cursor: auto;
      pointer-events: none;
    }
  }

}


.mobile-menu{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  background: rgba(19, 19, 19, 0.7);

  visibility: hidden;
  z-index: -10;
  opacity: 0;
  transition: 0.5s;

  &.open{
    z-index: 20;
    opacity: 1;
    visibility: visible;

    .mobile-menu__inner{
      transform: translateX(0);
    }
  }

  &__inner{
    min-height: 100vh;
    max-width: 85%;
    background: white;
    padding: 20px;
    overflow: auto;
    max-height: 100vh;
    transform: translateX(-100%);
    transition: 0.4s 0.1s;

    .mobile-menu__lang svg{
      width: 17px;
    }

    .mobile-menu__user svg{
      width: 20px;
    }
  }

  &__top{
    display: flex;
    align-items: center;
  }

  &__close{

  }

  &__lang{
    margin-left: auto;
  }

  &__user{
    margin-left: 20px;
  }

  &__category{
    position: relative;
    margin: 35px -20px 0;
    padding: 0 20px 1px;

    &:after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: calc(100%);
      background: #AFB0B0;
      opacity: 0.7;
    }
  }

  &__categoty-item{
    margin-bottom: 10px;
  }

  &__categoty-link{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1A2F34;

    svg{
      margin-left: 10px;
    }
  }

  &__user{

  }

  &__user-items{
    position: relative;
    margin: 0 -20px;
    padding: 10px 20px 1px;

    &:after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: calc(100%);
      background: #AFB0B0;
      opacity: 0.7;
    }
  }


  &__user-title{
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1A2F34;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    svg{
      margin-left: 10px;
      width: 20px;
    }
  }

  &__user-item{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1A2F34;
    margin-bottom: 15px;
  }

  &__user-link{

  }

  &__other{
    display: flex;
    flex-direction: column;
    padding-top: 12px;
  }

  &__other-link{
    font-size: 12px;
    line-height: 20px;
    color: #5E5E5E;
    margin-bottom: 10px;
  }

}


.home-top{
  margin-top: 35px;

  @include for-992{
    margin-top: 10px;
  }

  @include for-550{
    margin-top: 0;
  }

  &__inner{

  }

  &__bg{
    img{
      max-width: 100%;
      width: 100%;
    }

    @include for-992{
      margin: 0 -15px;
    }
  }

}

.category-block{
  &__inner{

  }

  &__title{
    font-weight: bold;
    font-size: 58px;
    line-height: 62px;
    text-transform: uppercase;
    color: #FF5722;
    margin: 30px 0;

    @include for-992{
      font-size: 30px;
      line-height: 30px;
    }
  }

}

.products{
  margin-bottom: 80px;

  @include for-550{
    margin-bottom: 20px;
  }

  &__inner{

  }

  &__items{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;

    @include for-550{
      margin-bottom: 15px;
    }
  }

  &__item{
    width: 25%;
    padding: 0 15px;
  }

  &__all-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 46px;
    margin: 0 auto;

    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #1A2F34;
    transition: 0.3s;

    @include for-550{
      font-size: 13px;
    }

    &:hover{
      color: #FF5722;
    }
  }
}

.product{
  position: relative;
  padding-top: 20px;
  transition: 0.3s;

  &:hover{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  &__inner{
    padding: 40px 20px 25px 15px;
    position: relative;

    @include for-768{
      padding: 40px 0px 10px 0px;
    }
  }

  &__img{
    display: flex;
    justify-content: center;
  }

  &__in-stock{
    position: absolute;
    top: 5px;
    left: 0;
    font-family: 'Lato';
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #979797;
    padding-left: 20px;

    &:before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: #55D340;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border-radius: 50%;
    }

    @include for-1100{
      font-size: 9px;
      line-height: 9px;
    }
  }

  &__like{
    position: absolute;
    top: 0;
    right: 0;

    path{
      fill: white !important;
      stroke: black;
      stroke-width: 2px;
    }

    &--active{
      path {
        fill: #1a2f34 !important;
        stroke: #1a2f34;
      }
    }

  }

  &__title{
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1A2F34;
    margin: 10px 0;
    display: block;

    @include for-1100{
      font-size: 10px;
    }
  }

  &__revievs{
    font-family: Lato;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #666666;
    margin-bottom: 20px;
    display: inline-block;

    @include for-1100{
      font-size: 9px;
      line-height: 9px;
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price{
    font-family: Lato;
    font-weight: 800;
    font-size: 19.4319px;
    line-height: 30px;
    color: #1A2F34;

    @include for-1100{
      font-size: 16px;
    }

    @include for-420{
      font-size: 14px;
    }

    span{
      font-family: Lato;
      font-size: 14px;
      line-height: 30px;
      color: #1A2F34;
      margin-left: 5px;

      @include for-1100{
        font-size: 12px;
      }
    }
  }

  &__add-cart{
    display: flex;
    align-items: center;
    font-family: Lato;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #1A2F34;

    @include for-1100{
      font-size: 11px;
    }

    svg{
      margin-left: 10px;

      @include for-1100{
        width: 17px;
      }

      @include for-420{
        margin-left: 5px;
        width: 15px;
      }
    }
  }

}

.site-bunner{
  &__inner{
    @include for-1200{
      margin: 0 -15px;
    }
  }
  &__img{
    img{
      max-width: 100%;
      width: 100%;
    }
  }
}



.footer{
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 650px) {
    padding-top: 40px;
    padding-bottom: 0;
  }

  &__inner{
    display: flex;
    justify-content: space-between;

    @include for-992{
      flex-wrap: wrap;
    }

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__left{

  }

  &__logo{
    @media (max-width: 650px) {
      margin-bottom: 20px;
      display: inline-block;
      width: 140px;
    }
    img{
      width: 100%;
    }
  }

  &__rights{
    font-size: 15px;
    line-height: 20px;
    color: #666666;
    margin: 25px 0;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__social{
    display: flex;

    a{
      margin-right: 20px;
      &:last-child{
        margin: 0;
      }

      svg path{
        transition: 0.3s;
      }

      &:hover{
        svg path{
          fill: #ff5722;
        }
      }
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__center{
    display: flex;
    width: 100%;
    max-width: 525px;
    justify-content: space-between;
    margin: 0 15px;

    @media (max-width: 800px) {
      max-width: 400px;
    }

    @media (max-width: 650px) {
      margin: 0;
      order: 10;
      max-width: 100%;
    }


  }

  &__menu-col{
    &:last-child{
      @include for-420{
        display: none;
      }
    }

  }

  &__menu-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #111111;
    margin-bottom: 15px;
  }

  &__menu-items{

  }

  &__menu-item{
    margin-bottom: 10px;
  }

  &__menu-link{
    font-size: 17px;
    line-height: 25px;
    color: #111111;
    transition: 0.3s;

    &:hover{
      color: #FF5722;
    }

    @media (max-width: 650px) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__right{
    width: 100%;
    max-width: 360px;

    @media (max-width: 650px) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__subscribe{

  }

  &__subscribe-title{
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    color: #111111;
    margin-bottom: 25px;

    @media (max-width: 650px) {
      font-size: 17px;
    }
  }

  &__subscribe-input{
    position: relative;

    input[type='text']{
      display: block;
      width: 100%;
      height: 45px;
      padding-left: 15px;
      background: #FFFFFF;
      border: 1px solid rgba(83, 83, 83, 0.4);
      font-size: 13px;
      line-height: 20px;
      color: #828282;
      margin-bottom: 20px;

      &::placeholder{
        font-size: 13px;
        line-height: 20px;
        color: #828282;
      }

      &.error{
        border: 1px solid red;
      }
    }

    input[type='submit']{
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      padding: 0;
      border: 0;
      cursor: pointer;
      background: url("../img/svg/Send.svg") center center no-repeat;
    }
  }

  &__txt{
    font-size: 15px;
    line-height: 20px;
    color: #111111;
    margin-bottom: 30px;

    @media (max-width: 650px) {
      order: -1;
    }
  }

  &__partners{
    display: flex;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__partners-item{
    margin-right: 25px;
  }

  &__partners-link{

  }

  &__bottom{
    display: none;

    @media (max-width: 650px) {
      order: 20;
      margin-top: 40px;
      display: block;

      .footer__social {
        display: block;
      }
      .footer__rights {
        display: block;
        max-width: 145px;
      }
    }
  }

}

.blog{

  &__inner{

  }

  &__title{
    margin-bottom: 40px;

    @include for-768{
      margin-bottom: 30px;
    }
  }

  &__content{

  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;

    @include for-1200{
      margin: 0 -15px;
    }
  }

  &__item{
    width: 33.33333%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
    padding-bottom: 40px;

    @include for-1200{
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      margin-bottom: 37px;
    }

    @include for-768{
      width: 50%;
    }

    @include for-550{
      width: 100%;
    }
  }

  &__item-content{
    display: flex;
    flex-direction: column;
  }

  &__item-img{
    height: 260px;
    overflow: hidden;

    @include for-768{
      height: 206px;
    }
  }

  &__item-img-wrap{
    transition: .5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-content:hover  &__item-img-wrap{
    transform: scale(1.1);
  }

  &__item-img-i{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-info{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__item-date{
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #9B9B9B;
    font-family: 'Lato', sans-serif;

    @include for-550{
      font-size: 10px;
      margin-bottom: 7px;
    }
  }

  &__item-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1A2F34;
    margin-bottom: 10px;
    transition: .3s;

    @include for-550{
      font-size: 15px;
      margin-bottom: 7px;
    }
  }

  &__item-content:hover &__item-title{
    color: #FF5722;
  }

  &__item-desc{
    font-size: 16px;
    line-height: 25px;
    color: #1A2F34;

    @include for-550{
      font-size: 12px;
    }
  }

}


.product-card{
  &__inner{

  }

  &__content{
    display: flex;
  }

  &__slider{
    max-width: 540px;
    width: 100%;
  }

  &__slider-big{
    position: relative;
  }

  &__slider-label{
    position: absolute;
    right: 25px;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 3;
  }

  &__slider-label-i{
    font-size: 12px;
    text-align: center;
    color: #FF5722;
    border: 0.7px solid #FF5722;
    box-sizing: border-box;
    height: 24px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &__slider-main{
    position: relative;
  }

  &__slider-main-inner{

  }

  &__slider-main-item{

  }

  &__slider-main-item-content{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__slider-small{
    display: flex;
    justify-content: center;
  }

  &__slider-sub{
    max-width: 280px;
    width: 100%;
  }

  &__slider-sub-inner{

  }

  &__slider-sub-item{

  }

  &__slider-sub-item-content{
    height: 77px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 1px;
    transition: .3s;
    overflow: hidden;

    &:hover{
      border-color: #FF5722;
    }
  }

  &__info{
    padding-left: 85px;
    width: 100%;
  }

  &__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #1A2F34;
    margin-bottom: 13px;
  }

  &__undertitle{
    display: flex;
    margin-bottom: 18px;
  }

  &__article{
    margin-right: 17px;
    font-size: 10px;
    line-height: 16px;
    color: #535353;
    opacity: 0.6;
  }

  &__availability{
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #304659;

    .green-circle{
      width: 11px;
      height: 11px;
      background: #55D340;
      border-radius: 50%;
      margin-right: 5px;
      display: inline-flex;
      position: relative;
      top: 1px;
    }
  }

  &__reviews{
    font-size: 10px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #535353;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(202, 202, 202, .35);
    margin-bottom: 15px;
    display: flex;

    &:hover{
      text-decoration-line: none;
    }
  }

  &__property{

  }

  &__property-row{

  }

  &__property-col{

  }

  &__property-name{

  }

  &__property-list{

  }

  &__property-item{

  }

  &__price{

  }

  &__btn{

  }

  &__btn-favorites{

  }

  &__btn-i{

  }


}
.product-card-slider-js{
  .slick-slide{
    outline: none;
  }

  .slick-arrow{
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  .slick-prev{
    background-image: url("../img/svg/arrow-left-slider.svg");
    left: 0;
  }

  .slick-next{
    background-image: url("../img/svg/arrow-right-slider.svg");
    right: 0;
  }
}
.product-card-navslider-js{
  .slick-slide{
    outline: none;
  }

  .slick-current .product-card__slider-sub-item-content{
    border-color: #FF5722;
  }
}




.products__items-slider {
  .slick-dots{
    display: flex;
    justify-content: center;
    width: 100%;

    @include for-550{
      margin-top: -5px;
    }

    li{
      padding: 0;
      margin: 0 5px;
    }

    button{
      font-size: 0;
      padding: 0;
      width: 7px;
      height: 7px;
      background: #1A2F34;
      border-radius: 50%;
      border: 1px solid #1A2F34;
    }

    .slick-active button{
      background: #ffffff;
    }
  }


  &.slick-slider .slick-track{
    padding: 10px 0;
  }
}






































.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition: .3s all;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;

  &.open{
    z-index: 350;
    opacity: 1;
    visibility: visible;
  }

  &__body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto 100px;
    margin-top: 150px;

    @include for-768{
      margin: 75px auto;
    }
  }

  &__inner{
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  &__close{
    position: absolute;
    right: -24px;
    top: -24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    transition: .3s all;
    z-index: 3;

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: .3s;
    }

    @include for-992{
      width: 25px;
      height: 25px;
      right: 5px;
      top: 5px;
    }

    &:hover{
      //opacity: .7;
      @include from-992{

        border-radius: 50%;


        &:before{
          box-shadow: 0px 0px 20px #FFC700;
        }
      }
    }

  }

  &__close-ico{
    display: flex;
    width: 100%;
    height: 100%;
    background: url("../img/icon/close-popup.svg") center no-repeat;
    background-size: contain;

    @include for-992{
      background: url("../img/icon/close-popup-mobile.svg") center no-repeat;
    }
  }

}

.callback{


  &__content{
    background: white;
    display: flex;
  }

  &__logo{
    position: relative;
    top: 55px;
  }

  input{
    border: 0.5px solid #B4B4B4;
  }

  .popup__close{
    margin-right: 10px;
    margin-top: 5px;
  }

  &__img{
    background-color: #EBEBEB;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-width: 670px;
    height: 616px;
    margin-left: -15px;

    @include for-1200{
      background-image: url(./img/popup-img.webp);
      min-width: 570px;
    }

    @include for-992{
      display: none;
    }
  }

  &__form{
    padding-top: 90px;
    padding-bottom: 85px;
    max-width: 620px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 130px;
    padding-right: 130px;

    @include for-1200{

      padding: 90px 50px 85px;
    }

    @include for-420{
      padding: 70px 0px 65px;
    }
  }

  .top-block__form-inner{
    position: static;
    top: 0;
    right: auto;
    margin-right: 0;
  }
}
