footer.footer
  .footer__inner.site-container
    .footer__left
      .footer__logo
        a(href="#")
          img(src='./img/logo.png' alt='img')
        .footer__rights All rights reserved. © 2020.
        .footer__social
          a(href="#")
            include ../../img/svg/Facebook.svg
          a(href="#")
            include ../../img/svg/Googlegoogle.svg
          a(href="#")
            include ../../img/svg/Instagraminst.svg
    .footer__center
      .footer__menu-col
        .footer__menu-title First column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link О нас
          li.footer__menu-item
            a(href='#').footer__menu-link Контакты
          li.footer__menu-item
            a(href='#').footer__menu-link Блог
          li.footer__menu-item
            a(href='#').footer__menu-link Конфиденциальность
      .footer__menu-col
        .footer__menu-title Second column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link Доставка и оплата
          li.footer__menu-item
            a(href='#').footer__menu-link Гарантии
          li.footer__menu-item
            a(href='#').footer__menu-link Инструкция
          li.footer__menu-item
            a(href='#').footer__menu-link Договор публичной оферты
      .footer__menu-col
        .footer__menu-title Third column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link Сетка размеров
          li.footer__menu-item
            a(href='#').footer__menu-link Частые вопросы
    .footer__right
      .footer__subscribe
        .footer__subscribe-title Подпишитесь на рассылку
        form
          .footer__subscribe-input
            input(type='text' placeholder='Введите ваш Email')
            input(type="submit" value='').footer__subscribe-input-send
          .footer__subscribe-success
            include ../../img/svg/mask.svg
            span Спасибо за подписку!
            a(href="#") Продолжить покупки

      .footer__txt Depending on the company, a user experience designer may need to be a jack of all trades
      .footer__partners
        .footer__partners-item
          a(href="#").footer__partners-link
            img(src="./img/Nova_Poshta.png" alt='img')
        .footer__partners-item
          a(href="#").footer__partners-link
            img(src="./img/Old_Visa_Logo.png" alt='img')
        .footer__partners-item
          a(href="#").footer__partners-link
            img(src="./img/Mastercard-logo.png" alt='img')

    .footer__bottom
      .footer__social
        a(href="#")
          include ../../img/svg/Facebook.svg
        a(href="#")
          include ../../img/svg/Googlegoogle.svg
        a(href="#")
          include ../../img/svg/Instagraminst.svg
      .footer__txt-mobile.tablet
        a(href="#") Privacy policy
        a(href="#") Term of service
        a(href="#") Language
      .footer__rights All rights reserved. © 2020.

.popup.reviews-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.reviews-popup__content
        .site-form
          form
            .site-form__title
              .site-form__ico
                img(src="./img/svg/reviews-ico.svg" alt="ico" width="42" height="42")
              span Ваш отзыв очень важен для нас!
            .site-form__row
              .site-form__input
                input(type="text" placeholder="Имя*").required
            .site-form__row
              .site-form__input
                input(type="email" placeholder="Email*").required
            .site-form__row
              .site-form__textarea
                textarea( placeholder="Ваш отзыв")
            .site-form__row
              input(type="submit" style="display: none;")
              a(href="javascript:void(0);").site-form__btn-i.site-btn.site-form-submit-js Оставить отзыв

.popup.basket-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.basket-popup__content
        .basket-popup__head
          img(src="./img/svg/basket-popup-check.svg" width="21" height="21" alt="img")
          | Товар успешно добавлен в корзину
        .basket-popup__body
          .basket-popup__img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/product.png" alt="img").basket-popup__img-i.b-lazy
          .basket-popup__info
            .product-card__title НАЗВАНИЕ ТОВАРА
            .product-card__undertitle
              .product-card__article Артикул: 12312
            .product-card__property
              .product-card__property-row
                .product-card__property-col
                  .product-card__property-name Размер:
                .product-card__property-col
                  .product-card__property-list.size
                    .product-card__property-item
                      a(href="#") M
              .product-card__property-row
                .product-card__property-col
                  .product-card__property-name Цвет:
                .product-card__property-col
                  .product-card__property-list.color
                    .product-card__property-item
                      a(href="#")
                        span(style='background-color: #DEC910;')
              .product-card__property-row
                .product-card__property-col
                  .product-card__property-name Колличество:
                .product-card__property-col
                  .product-card__property-count.product__count
                    a(href='#').product__count-minus
                      include ../../img/svg/plus.svg
                    input(type='text' value='1').product__count-input
                    a(href='#').product__count-plus
                      include ../../img/svg/plus.svg
            .product-card__price
              span 6007
              | грн
            .product-card__btn
              a(href="#").product-card__btn-i.site-btn Перейти в корзину
              a(href="#").product-card__btn-i.site-btn.site-btn--black Продолжить покупки


.popup.application-accepted-popup.application-accepted
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.application-accepted__content
        .application-accepted__ico
          img(src="./img/svg/zayavochka.svg" alt="img")
        .application-accepted__title Ваша заявка принята
        .application-accepted__txt Мы свяжемся с Вами в самое ближайшее время для решения Вашей проблемы!
        .application-accepted__link
          a(href="#").application-accepted__link-i Продолжить покупки


.popup.auth-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.auth-popup__content
        .auth-popup__head
          .auth-popup__tab
            a(href="javascript:void(0)" data-auth-tab="1").auth-popup__tab-i.active Войти
            a(href="javascript:void(0)" data-auth-tab="2").auth-popup__tab-i Регистрация
        .auth-popup__body
          .auth-popup__body-item.active(data-auth-content="1")
            .body__form.site-form
              form
                .site-form__title
                  span Войти
                .site-form__row
                  .site-form__input
                    input(type="text" placeholder="Логин*").required
                .site-form__row
                  .site-form__input
                    input(type="password" placeholder="Пароль*").required
                .site-form__row
                  input(type="submit" style="display: none;")
                  a(href="javascript:void(0);").site-form__btn-i.site-btn.site-form-submit-js Войти
                .site-form__row
                  a(href="javascript:void(0)").site-form__fp Забыли пароль?

            .auth-popup__social
              .auth-popup__social-head Войти с помощью
              .auth-popup__social-content
                a(href="#").auth-popup__social-item
                  img(src="./img/svg/facebook-login.svg" alt="ico" width="30" height="30")
                a(href="#").auth-popup__social-item
                  img(src="./img/svg/google-login.svg" alt="ico" width="30" height="30")
          .auth-popup__body-item(data-auth-content="2")
            .body__form.site-form
              form
                .site-form__title
                  span Регистрация
                .site-form__row
                  .site-form__input
                    input(type="text" placeholder="Имя*").required
                .site-form__row
                  .site-form__input
                    input(type="email" placeholder="Email*").required
                .site-form__row
                  .site-form__input
                    input(type="tel" placeholder="Телефон*").phonemask.required
                .site-form__row
                  .site-form__input
                    input(type="password" placeholder="Пароль*").required
                .site-form__row
                  input(type="submit" style="display: none;")
                  a(href="javascript:void(0);").site-form__btn-i.site-btn.site-form-submit-js Зарегестрироваться

            .auth-popup__social
              .auth-popup__social-head Войти с помощью
              .auth-popup__social-content
                a(href="#").auth-popup__social-item
                  img(src="./img/svg/facebook-login.svg" alt="ico" width="30" height="30")
                a(href="#").auth-popup__social-item
                  img(src="./img/svg/google-login.svg" alt="ico" width="30" height="30")

          .auth-popup__body-item(data-auth-content="3")
            .body__form.site-form
              form
                .site-form__title
                  span Восстановление пароля
                .site-form__row
                  .site-form__input
                    input(type="email" placeholder="Email*").required
                .site-form__row
                  input(type="submit" style="display: none;")
                  a(href="javascript:void(0);").site-form__btn-i.site-btn.site-form-submit-js Отправить










