footer.footer
  .footer__inner.site-container
    .footer__left
      .footer__logo
        img(src='' alt='img')
        .footer__rights All rights reserved. © 2020.
        .footer__social
    .footer__center
      .footer__menu-col
        .footer__menu-title First column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link First link
          li.footer__menu-item
            a(href='#').footer__menu-link Second link
          li.footer__menu-item
            a(href='#').footer__menu-link Third link
          li.footer__menu-item
            a(href='#').footer__menu-link Fourth link
      .footer__menu-col
        .footer__menu-title Second column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link Fifth link
          li.footer__menu-item
            a(href='#').footer__menu-link Sixth link
          li.footer__menu-item
            a(href='#').footer__menu-link Seventh link
          li.footer__menu-item
            a(href='#').footer__menu-link Eighth link
      .footer__menu-col
        .footer__menu-title Third column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link Ninth link
          li.footer__menu-item
            a(href='#').footer__menu-link Tenth link
          li.footer__menu-item
            a(href='#').footer__menu-link Eleventh link
    .footer__right
      .footer__subscribe
        .footer__subscribe-title Подпишитесь на рассылку
        .footer__subscribe-input
          input(type='text' placeholder='Введите ваш Email')
          a(href="#")
      .footer__txt Depending on the company, a user experience designer may need to be a jack of all trades
      .footer__partners
        .footer__partners-item
          a(href="#").footer__partners-link
        .footer__partners-item
          a(href="#").footer__partners-link
        .footer__partners-item
          a(href="#").footer__partners-link

.popup.callback
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content.site-container
        .callback__img.b-lazy.webp-img(data-webp="./img/popup-img.webp"
          data-webp-mobile=""
          data-img="./img/popup-img.jpg"
          data-img-mobile="")

        .callback__form
          .top-block__form-inner
            .top-block__form-title Оставить заявку <b>НА БЕСПЛАТНУЮ</b> консультацию нарколога
            form.top-block__form-i
              input(type="text" placeholder="Ваше имя" required)
              input(type="text" inputmode="numeric" placeholder="+7 (___) ___-__-__").phone
              .site-btn--img-wrap
                button(style='display: none;')
                a(href="#").top-block__form-btn.site-btn--red.site-btn--img отправить
                  picture
                    source(srcset="./img/icon/blokno-ico.webp" type="image/webp")
                    source(srcset="./img/icon/blokno-ico.png" type="image/png")
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="100" height="93")
            .top-block__form-capt Ваши данные не попадут к третьим лицам и останутся конфиденциальны.

          .callback__logo
            picture
              source(srcset="./img/logopraktik.webp" type="image/webp")
              source(srcset="./img/logopraktik.png" type="image/png")
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" width="159")



        //.site-form-submit
          .site-form-submit__title Ваша заявка принята
          .site-form-submit__caption Мы свяжемся с вами и расскажем как помочь вашему близкому





