footer.footer
  .footer__inner.site-container
    .footer__left
      .footer__logo
        a(href="#")
          img(src='./img/logo.png' alt='img')
        .footer__rights All rights reserved. © 2020.
        .footer__social
          a(href="#")
            include ../../img/svg/Facebook.svg
          a(href="#")
            include ../../img/svg/Googlegoogle.svg
          a(href="#")
            include ../../img/svg/Instagraminst.svg
    .footer__center
      .footer__menu-col
        .footer__menu-title First column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link О нас
          li.footer__menu-item
            a(href='#').footer__menu-link Контакты
          li.footer__menu-item
            a(href='#').footer__menu-link Блог
          li.footer__menu-item
            a(href='#').footer__menu-link Конфиденциальность
      .footer__menu-col
        .footer__menu-title Second column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link Доставка и оплата
          li.footer__menu-item
            a(href='#').footer__menu-link Гарантии
          li.footer__menu-item
            a(href='#').footer__menu-link Инструкция
          li.footer__menu-item
            a(href='#').footer__menu-link Договор публичной оферты
      .footer__menu-col
        .footer__menu-title Third column
        ul.footer__menu-items
          li.footer__menu-item
            a(href='#').footer__menu-link Сетка размеров
          li.footer__menu-item
            a(href='#').footer__menu-link Частые вопросы
    .footer__right
      .footer__subscribe
        .footer__subscribe-title Подпишитесь на рассылку
        form
          .footer__subscribe-input
            input(type='text' placeholder='Введите ваш Email')
            input(type="submit" value='').footer__subscribe-input-send
      .footer__txt Depending on the company, a user experience designer may need to be a jack of all trades
      .footer__partners
        .footer__partners-item
          a(href="#").footer__partners-link
            img(src="./img/Nova_Poshta.png" alt='img')
        .footer__partners-item
          a(href="#").footer__partners-link
            img(src="./img/Old_Visa_Logo.png" alt='img')
        .footer__partners-item
          a(href="#").footer__partners-link
            img(src="./img/Mastercard-logo.png" alt='img')

    .footer__bottom
      .footer__social
        a(href="#")
          include ../../img/svg/Facebook.svg
        a(href="#")
          include ../../img/svg/Googlegoogle.svg
        a(href="#")
          include ../../img/svg/Instagraminst.svg
      .footer__rights All rights reserved. © 2020.

.popup.reviews-popup
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.reviews-popup__content
        .site-form
          form
            .site-form__title
              .site-form__ico
                img(src="./img/svg/reviews-ico.svg" alt="ico" width="42" height="42")
              span Ваш отзыв очень важен для нас!
            .site-form__row
              .site-form__input
                input(type="text" placeholder="Имя*").required
            .site-form__row
              .site-form__input
                input(type="email" placeholder="Email*").required
            .site-form__row
              .site-form__textarea
                textarea( placeholder="Ваш отзыв")
            .site-form__row
              input(type="submit" style="display: none;")
              a(href="javascript:void(0);").site-form__btn-i.site-btn.site-form-submit-js Оставить отзыв





