header.header
  .header__inner.site-container
    .mobile-menu
      .mobile-menu__inner
        .mobile-menu__top
          a(href="#").mobile-menu__close
            include ../../img/svg/close.svg
          a(href="#").mobile-menu__lang
            include ../../img/svg/flag.svg
          a(href="#").mobile-menu__user
            include ../../img/svg/login.svg
        .mobile-menu__category
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Распродажа
              include ../../img/svg/sale.svg
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Новинки
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Актуально
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Распродажа
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Новинки
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Актуально
          .mobile-menu__categoty-item
            a(href="#").mobile-menu__categoty-link Распродажа

        .mobile-menu__user-items
          a(href="#").mobile-menu__user-title Личный кабинет
            include ../../img/svg/login.svg
          .mobile-menu__user-item
            a(href="#").mobile-menu__user-link Персональные данные
          .mobile-menu__user-item
            a(href="#").mobile-menu__user-link Адрес доставки
          .mobile-menu__user-item
            a(href="#").mobile-menu__user-link история заказов
          .mobile-menu__user-item
            a(href="#").mobile-menu__user-link изменение пароля

        .mobile-menu__other
          a(href="#").mobile-menu__other-link Доставка и оплата
          a(href="#").mobile-menu__other-link О нас
          a(href="#").mobile-menu__other-link Блог
          a(href="#").mobile-menu__other-link Контакты

    .header__top
      .header__mobile-menu.tablet
        include ../../img/svg/Menu.svg
      .header__mobile-search.tablet
        a(href="#")
          include ../../img/svg/search.svg
      .header__left
        .header__top-menu
          ul.header__top-menu-items
            li.header__top-menu-item
              a(href="#").header__top-menu-link Доставка и оплата
            li.header__top-menu-item
              a(href="#").header__top-menu-link О нас
            li.header__top-menu-item
              a(href="#").header__top-menu-link Блог
            li.header__top-menu-item
              a(href="#").header__top-menu-link Контакты

        .header__logo
          a(href="#")
            img(src='./img/logo.png' alt='img')

      .header__right
        a(href="#").header__lang
          include ../../img/svg/flag.svg
        a(href="#").header__user
          include ../../img/svg/login.svg
        a(href="#").header__like
          include ../../img/svg/satarFill.svg
          span 3
        a(href="#").header__cart
          include ../../img/svg/cart.svg
          span 3

    .header__bottom
      .header__menu
        ul.header__menu-items
          li.header__menu-item
            a(href="#").header__menu-link.header__menu-link--img Распродажа
            .header__submenu-item-wrap
              .header__submenu-wrap
                ul.header__submenu
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                ul.header__submenu
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                ul.header__submenu
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории
                  li.header__submenu-item
                    a(href="#").header__submenu-link Название подкатегории

              .header__submenu-img
                img(src='./img/menu-img.png' alt='img')
                a(href='#') Перейти

          li.header__menu-item
            a(href="#").header__menu-link Новинки
          li.header__menu-item
            a(href="#").header__menu-link Актуально
          li.header__menu-item
            a(href="#").header__menu-link Распродажа
          li.header__menu-item
            a(href="#").header__menu-link Новинки
          li.header__menu-item
            a(href="#").header__menu-link Актуально
          li.header__menu-item
            a(href="#").header__menu-link Распродажа















