header.header
  .header__inner.site-container
    .header__top
      .header__left
        .header__top-menu
          ul.header__top-menu-items
            li.header__top-menu-item
              a(href="#").header__top-menu-link Доставка и оплата
            li.header__top-menu-item
              a(href="#").header__top-menu-link О нас
            li.header__top-menu-item
              a(href="#").header__top-menu-link Блог
            li.header__top-menu-item
              a(href="#").header__top-menu-link Контакты

        .header__logo
          a(href="#")
            img(src='./img/logo.png' alt='img')

      .header__right
        a(href="#").header__lang
          include ../../img/svg/flag.svg
        a(href="#").header__user
          include ../../img/svg/login.svg
        a(href="#").header__like
          include ../../img/svg/satarFill.svg
        a(href="#").header__cart
          include ../../img/svg/cart.svg

    .header__bottom
      .header__menu
        ul.header__menu-items
          li.header__menu-items
            a(href="#").header__menu-link.header__menu-link--img Распродажа
            .header__submenu-wrap
              ul.header__submenu
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
              ul.header__submenu
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
              ul.header__submenu
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории
                li.header__submenu-item
                  a(href="#").header__submenu-link Название подкатегории

            .header__submenu-img
              img(src='' alt='img')
              a(href='#') Перейти

          li.header__menu-items
            a(href="#").header__menu-link Новинки
          li.header__menu-items
            a(href="#").header__menu-link Актуально
          li.header__menu-items
            a(href="#").header__menu-link Распродажа
          li.header__menu-items
            a(href="#").header__menu-link Новинки
          li.header__menu-items
            a(href="#").header__menu-link Актуально
          li.header__menu-items
            a(href="#").header__menu-link Распродажа















