//include _mixins

block vars

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		title HOLODOK
		meta(name="description", content='description content')

		//favicon
		link(rel="icon" href="./img/favicon/favicon.ico" type="image/x-icon")


		link(rel='stylesheet', href='css/libs.min.css')
		link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel='stylesheet', href='css/style.min.css')



	body(class="page " + pageClass)
		.page__wrapper
			include modules/_header

			main.page__content
				block content

			include modules/_footer
		block scripts
			script.
				let script = document.createElement('script');
				let script2 = document.createElement('script');
				let script3 = document.createElement('script');

							script.src = "js/libs.min.js"
							script2.src = "js/main.min.js"
							script3.src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"

							document.addEventListener("DOMContentLoaded", function() {
							setTimeout(function(){
							document.head.append(script);
					}, 1)
				});
				script.onload = function () {
					console.log(231);
					document.head.append(script2);
					document.head.append(script3);
				};
				script2.onload = function() {
					console.log(2312);
				};

			//script(src='js/libs.min.js')
			//script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
			//script(src='js/main.min.js')
