extends _layout

block vars
  - var pageTitle = "Blog page";
  - var pageClass = "";
  - var pageActive = "blog-page";

block content
  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-container
        a(href="#").breadcrumbs__item Главная
        a(href="javascript:void(0);").breadcrumbs__item Блог


    .blog
      .blog__inner.site-container
        .blog__title.section-title Блог
        .blog__content
          .blog__list
            .blog__item
              a(href="#").blog__item-content
                .blog__item-img
                  .blog__item-img-wrap
                    img(data-blazy="./img/blog-article-page.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).blog__item-img-i.b-lazy
                .blog__item-info
                  .blog__item-date 12.12.2012
                  .blog__item-title Название новости в 1 или несколько строк
                  .blog__item-desc Описание новости в несколько строк, обычно в 3 строки Описание новости в несколько строк, обычно в 3 строки.
            .blog__item
              a(href="#").blog__item-content
                .blog__item-img
                  .blog__item-img-wrap
                    img(data-blazy="./img/blog-article-page.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).blog__item-img-i.b-lazy
                .blog__item-info
                  .blog__item-date 12.12.2012
                  .blog__item-title Название новости в 1 или несколько строк
                  .blog__item-desc Описание новости в несколько строк, обычно в 3 строки Описание новости в несколько строк, обычно в 3 строки.

          .pagination
            .pagination__inner
              .pagination__item
                a(href='#').pagination__link.pagination__link--left
                  include ../img/svg/arrow-paginate.svg
              .pagination__item
                a(href='#').pagination__link.active 1
              .pagination__item
                a(href='#').pagination__link 2
              .pagination__item
                a(href='#').pagination__link 3
              .pagination__item
                a(href='#').pagination__link 4
              .pagination__item
                a(href='#').pagination__link 5
              .pagination__item
                a(href='#').pagination__link 6
              .pagination__item
                a(href='#').pagination__link 7
              .pagination__item
                span.pagination__dots ...
              .pagination__item
                a(href='#').pagination__link.pagination__link--right
                  include ../img/svg/arrow-paginate.svg