extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-container
        a(href="#").breadcrumbs__item Главная
        a(href="javascript:void(0);").breadcrumbs__item Блог

    .cart
      .cart__inner.site-container
        .cart__tabs
          //.cart__tabs-items
          .cart__tabs-item
            a(href="#").cart__tabs-link.active ДОСТАВКА
          .cart__tabs-item
            a(href="#").cart__tabs-link.active ОПЛАТА
          .cart__tabs-item
            a(href="#").cart__tabs-link ВАШ ЗАКАЗ
        .cart__container
          .cart__left
            .cart__order
              .cart__order-title.site-title ОПЛАТА
                .cart__order-form
                  .cart__pay.custom-tab
                    .custom-tab__head Выберите способ оплаты
                    .custom-tab__body
                      .cart__pay-item
                        a(href="#").cart__pay-link Наложенный платеж
                      .cart__pay-item
                        a(href="#").cart__pay-link Картой Visa/MasterCard онлайн
              //.cart__order-form.site-form
                //form
                //  .site-form__row
                //    .site-form__col
                //      .site-form__input
                //        input(type="text" placeholder="Владелец карты").required
                //  .site-form__row
                //    .site-form__col
                //      .site-form__input
                //        input(type="text" placeholder="Номер карты").required
                //    .site-form__col
                //      .site-form__input
                //        input(type="text" placeholder="мм/гг*").required
                //  .site-form-submit-js(style="display: none;")


          .cart__right
            .cart__summ
              .cart__summ-title Итого:
              .cart__summ-promocode
                a(href="#").cart__summ-promocode-link Есть промокод?
                .cart__summ-promocode-block
                  .site-form__input
                    input(type="text" placeholder="Введите промокод*").cart__summ-promocode-input
                  input(type='submit' value='Применить промокод').cart__summ-promocode-input.site-btn--black
              .cart__summ-row
                .cart__summ-name Итого:
                .cart__summ-price 13160 грн
              .cart__summ-row
                .cart__summ-name Доставка:
                .cart__summ-price 0 грн
              .cart__summ-total
                .cart__summ-name
                  b Всего:
                .cart__summ-price
                  b 13160 грн
              a(href="#").cart__summ-btn.site-btn.submit-cart-from-js Продолжить




