extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-container
        a(href="#").breadcrumbs__item Главная
        a(href="javascript:void(0);").breadcrumbs__item Блог

    .cart
      .cart__inner.site-container
        .cart__tabs
          //.cart__tabs-items
          .cart__tabs-item
            a(href="#").cart__tabs-link.active ДОСТАВКА
          .cart__tabs-item
            a(href="#").cart__tabs-link ОПЛАТА
          .cart__tabs-item
            a(href="#").cart__tabs-link ВАШ ЗАКАЗ
        .cart__container
          .cart__left
            .cart__order
              .cart__order-title.site-title Добавьте адрес доставки
              .cart__order-form.site-form
                form
                  .site-form__row
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Имя*").required
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Фамилия*").required
                  .site-form__row
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Email*").required
                  .site-form__row
                    .site-form__col
                      .site-form__checkbox
                        input(type="checkbox" checked id="checkbox")
                        label(for='checkbox') Я хочу подписаться на рассылку, чтобы получить приоритетный доступ к распродажам и в числе первых узнавать о главных трендах и новинках.

                  .site-form__row
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Область*").required
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Город*").required

                  .site-form__row
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Почтовый индекс*").required
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Улица")

                  .site-form__row
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Номер дома")
                    .site-form__col
                      .site-form__input
                        input(type="text" placeholder="Квартира")

                  .site-form__row
                    .site-form__col
                      .site-form__input
                        input(type="tel" placeholder="+38(___)___-__-__").phonemask



          .cart__right
            .cart__summ
              .cart__summ-title Итого:
              .cart__summ-promocode
                a(href="#").cart__summ-promocode-link Есть промокод?
                .cart__summ-promocode-block
                  .site-form__input
                    input(type="text" placeholder="Введите промокод*").cart__summ-promocode-input
                  input(type='submit' value='Применить промокод').cart__summ-promocode-input.site-btn--black
              .cart__summ-row
                .cart__summ-name Итого:
                .cart__summ-price 13160 грн
              .cart__summ-row
                .cart__summ-name Доставка:
                .cart__summ-price 0 грн
              .cart__summ-total
                .cart__summ-name
                  b Всего:
                .cart__summ-price
                  b 13160 грн
              a(href="#").cart__summ-btn.site-btn Продолжить




