extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-container
        a(href="#").breadcrumbs__item Главная
        a(href="javascript:void(0);").breadcrumbs__item Каталог
        a(href="javascript:void(0);").breadcrumbs__item Категория
        a(href="javascript:void(0);").breadcrumbs__item Подкатегория

    .categories
      .categories__inner.site-container
        .categories__items
          .categories__item
            .categories__img
              img(src="./img/svg/cat1.svg" alt="img")
            a(href="#").categories__title СЕКС ИГРУШКИ
            a(href="#").categories__link Электростимуляция
            a(href="#").categories__link Средства по уходу и аксессуары для игрушек
            a(href="#").categories__link Анальные игрушки
            a(href="#").categories__link Эрекционные кольца
            a(href="#").categories__link Насадки на член
            a(href="#").categories__link Вибраторы
            a(href="#").categories__link Вагинальные шарики
            a(href="#").categories__link Мастурбаторы
            a(href="#").categories__link Вибромассажеры
            a(href="#").categories__link Фаллоимитаторы и дилдо
            a(href="#").categories__link Страпоны



