extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap

    .home-top
      .site-container.home-top__inner
        .home-top__bg
          //.home-top__title Новинки
          //.home-top__subtitle Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
          //.home-top__link Перейти
          img(src='./img/bunner.png' alt='img')


    .category-block
      .site-container.category-block__inner
        .category-block__title ТОП ПРОДАЖ

    .products
      .site-container.products__inner
        .products__items
          .products__item.product
            .product__img
              img(src='./img/product.png' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='./img/product.png' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='./img/product.png' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='./img/product.png' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в

        a(href="#").products__all-link Показать все



    .site-bunner
      .site-container.site-bunner__inner
        .site-bunner__img
          img(src='' alt='img')

    .category-block
      .site-container.category-block__inner
        .category-block__title ТОП ПРОДАЖ


    .products
      .site-container.products__inner
        .products__items
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в

        a(href="#").products__all-link Показать все


    .site-bunner
      .site-container.site-bunner__inner
        .site-bunner__img
          img(src='' alt='img')

    .category-block
      .site-container.category-block__inner
        .category-block__title ТОП ПРОДАЖ


    .products
      .site-container.products__inner
        .products__items
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в
          .products__item.product
            .product__img
              img(src='' alt='img')
            .product__in-stock В наличии
            a(href="#").product__like
            .product__title Название товара Название  12133  товара Название товара
            a(href="#").product__revievs 6 отзывов
            .product__bottom
              .product__price 6090
                span грн
              a(href="#").product__add-cart Добавить в

        a(href="#").products__all-link Показать все



