extends _layout

block vars
  - var pageTitle = "Product card page";
  - var pageClass = "";
  - var pageActive = "product-card-page";

block content
  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-container
        a(href="#").breadcrumbs__item Главная
        a(href="#").breadcrumbs__item Каталог
        a(href="#").breadcrumbs__item Категория
        a(href="javascript:void(0);").breadcrumbs__item Подкатегория

    .product-card
      .product-card__inner.site-container
        .product-card__content
          .product-card__slider
            .product-card__slider-big
              .product-card__slider-label
                .product-card__slider-label-i ХИТ ПРОДАЖ
              .product-card__slider-main
                .product-card__slider-main-inner.product-card-slider-js
                  .product-card__slider-main-item
                    .product-card__slider-main-item-content
                      img(data-blazy="./img/product-detail-big.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
                  .product-card__slider-main-item
                    .product-card__slider-main-item-content
                      img(data-blazy="./img/bunner.webp " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
                  .product-card__slider-main-item
                    .product-card__slider-main-item-content
                      img(data-blazy="./img/product.webp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
                  .product-card__slider-main-item
                    .product-card__slider-main-item-content
                      img(data-blazy="./img/product-detail-big.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
            .product-card__slider-small
              .product-card__slider-sub
                .product-card__slider-sub-inner.product-card-navslider-js
                  .product-card__slider-sub-item
                    .product-card__slider-sub-item-content
                      img(data-blazy="./img/product-detail-small.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
                  .product-card__slider-sub-item
                    .product-card__slider-sub-item-content
                      img(data-blazy="./img/bunner.webp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
                  .product-card__slider-sub-item
                    .product-card__slider-sub-item-content
                      img(data-blazy="./img/product.webp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy
                  .product-card__slider-sub-item
                    .product-card__slider-sub-item-content
                      img(data-blazy="./img/product-detail-small.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).b-lazy

          .product-card__info
            .product-card__title НАЗВАНИЕ ТОВАРА
            .product-card__price.product-card__price--mobile
              span 6007
              | грн
            .product-card__undertitle
              .product-card__article Артикул: 12312
              .product-card__availability
                span.green-circle
                |В наличии
              a(href="#").product-card__reviews 6 отзывов
            .product-card__property
              .product-card__property-row
                .product-card__property-col
                  .product-card__property-name Размер:
                .product-card__property-col
                  .product-card__property-list.size
                    .product-card__property-item
                      a(href="#") S
                    .product-card__property-item.active
                      a(href="#") M
                    .product-card__property-item
                      a(href="#") L
                    .product-card__property-item
                      a(href="#") XL
              .product-card__property-row
                .product-card__property-col
                  .product-card__property-name Цвет:
                .product-card__property-col
                  .product-card__property-list.color
                    .product-card__property-item
                      a(href="#")
                        span(style='background-color: #2A90A9;')
                    .product-card__property-item.active
                      a(href="#")
                        span(style='background-color: #DEC910;')
                    .product-card__property-item
                      a(href="#")
                        span(style='background-color: #B6B6B6;')
              .product-card__property-row
                .product-card__property-col
                  .product-card__property-name Колличество:
                .product-card__property-col
                  .product-card__property-count.product__count
                    a(href='#').product__count-minus
                      include ../img/svg/plus.svg
                    input(type='text' value='1').product__count-input
                    a(href='#').product__count-plus
                      include ../img/svg/plus.svg
            .product-card__price
              span 6007
              | грн
            .product-card__btn
              a(href="#").product-card__btn-favorites Добавить в избранное
                include ../img/svg/favorites-ico.svg
              a(href="#").product-card__btn-i.site-btn В корзину


        .product-card__tab
          .product-card__tab-list
            a(href="javascript:void(0);").product-card__tab-item.active Общее описание
            a(href="javascript:void(0);").product-card__tab-item Параметры
            a(href="javascript:void(0);").product-card__tab-item Доставка и оплата
            a(href="javascript:void(0);").product-card__tab-item Отзывы
            a(href="javascript:void(0);").product-card__tab-item Рекомендуемые товары
            a(href="javascript:void(0);").product-card__tab-item Похожие товары
            a(href="javascript:void(0);").product-card__tab-item Статьи

        .product-card__tab-content
          .product-card__tab-content-item.active
            .product-card__tab-content-mobile-title Общее описание
            .product-card__tab-content-inner
              p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Ц
              p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Ц
          .product-card__tab-content-item
            .product-card__tab-content-mobile-title Параметры
            .product-card__tab-content-inner
              table
                tr
                  td Название параметра:
                  td Название параметра:
                tr
                  td Название параметра:
                  td Название параметра:
                tr
                  td Название параметра:
                  td Название параметра:
                tr
                  td Название параметра:
                  td Название параметра:
                tr
                  td Название параметра:
                  td Название параметра:
          .product-card__tab-content-item
            .product-card__tab-content-mobile-title Доставка и оплата
            .product-card__tab-content-inner
              p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Ц
                p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Ц
          .product-card__tab-content-item
            .product-card__tab-content-mobile-title Отзывы
            .product-card__tab-content-inner
              .review-block
                .review-block__head
                  .review-block__head-total Всего <strong>6</strong> отзывов
                  a(href="javascript:void(0)" data-modal-class="reviews-popup").review-block__head-btn.site-btn.site-btn--black Оставить отзыв
                .review-block__list
                  .review-block__item
                    .review-block__item-txt
                      p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Ц
                    .review-block__item-author Логин пользователя

                  .review-block__item
                    .review-block__item-txt
                      p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Ц
                    .review-block__item-author Логин пользователя



          .product-card__tab-content-item
            .product-card__tab-content-mobile-title Рекомендуемые товары
            .product-card__tab-content-inner
              .products__items.products__items-slider
                .products__item.product
                  .product__inner
                    .product__img
                      a(href="#")
                        img(src='./img/product.webp' alt='img')
                    .product__in-stock В наличии
                    a(href="#").product__like.product__like--active
                      include ../img/svg/satarFill.svg
                    a(href='#').product__title Название товара Название  12133  товара Название товара
                    a(href="#").product__revievs 6 отзывов
                    .product__bottom
                      .product__price 6090
                        span грн
                      a(href="#").product__add-cart Добавить в
                        include ../img/svg/cart.svg
                .products__item.product
                  .product__inner
                    .product__img
                      a(href="#")
                        img(src='./img/product.webp' alt='img')
                    .product__in-stock В наличии
                    a(href="#").product__like
                      include ../img/svg/satarFill.svg
                    a(href='#').product__title Название товара Название  12133  товара Название товара
                    a(href="#").product__revievs 6 отзывов
                    .product__bottom
                      .product__price 6090
                        span грн
                      a(href="#").product__add-cart Добавить в
                        include ../img/svg/cart.svg
                .products__item.product
                  .product__inner
                    .product__img
                      a(href="#")
                        img(src='./img/product.webp' alt='img')
                    .product__in-stock В наличии
                    a(href="#").product__like
                      include ../img/svg/satarFill.svg
                    a(href='#').product__title Название товара Название  12133  товара Название товара
                    a(href="#").product__revievs 6 отзывов
                    .product__bottom
                      .product__price 6090
                        span грн
                      a(href="#").product__add-cart Добавить в
                        include ../img/svg/cart.svg
                .products__item.product
                  .product__inner
                    .product__img
                      a(href="#")
                        img(src='./img/product.webp' alt='img')
                    .product__in-stock В наличии
                    a(href="#").product__like
                      include ../img/svg/satarFill.svg
                    a(href='#').product__title Название товара Название  12133  товара Название товара
                    a(href="#").product__revievs 6 отзывов
                    .product__bottom
                      .product__price 6090
                        span грн
                      a(href="#").product__add-cart Добавить в
                        include ../img/svg/cart.svg

          .product-card__tab-content-item
            .product-card__tab-content-mobile-title Похожие товары
            .product-card__tab-content-inner
              .products__items.products__items-slider
                .products__item.product
                  .product__inner
                    .product__img
                      a(href="#")
                        img(src='./img/product.webp' alt='img')
                    .product__in-stock В наличии
                    a(href="#").product__like.product__like--active
                      include ../img/svg/satarFill.svg
                    a(href='#').product__title Название товара Название  12133  товара Название товара
                    a(href="#").product__revievs 6 отзывов
                    .product__bottom
                      .product__price 6090
                        span грн
                      a(href="#").product__add-cart Добавить в
                        include ../img/svg/cart.svg
                .products__item.product
                  .product__inner
                    .product__img
                      a(href="#")
                        img(src='./img/product.webp' alt='img')
                    .product__in-stock В наличии
                    a(href="#").product__like
                      include ../img/svg/satarFill.svg
                    a(href='#').product__title Название товара Название  12133  товара Название товара
                    a(href="#").product__revievs 6 отзывов
                    .product__bottom
                      .product__price 6090
                        span грн
                      a(href="#").product__add-cart Добавить в
                        include ../img/svg/cart.svg
          .product-card__tab-content-item
            .product-card__tab-content-mobile-title Статьи
            .product-card__tab-content-inner
              .blog__list
                .blog__item
                  a(href="#").blog__item-content
                    .blog__item-img
                      .blog__item-img-wrap
                        img(data-blazy="./img/blog-article-page.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).blog__item-img-i.b-lazy
                    .blog__item-info
                      .blog__item-date 12.12.2012
                      .blog__item-title Название новости в 1 или несколько строк
                      .blog__item-desc Описание новости в несколько строк, обычно в 3 строки Описание новости в несколько строк, обычно в 3 строки.
                .blog__item
                  a(href="#").blog__item-content
                    .blog__item-img
                      .blog__item-img-wrap
                        img(data-blazy="./img/blog-article-page.jpg " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img" ).blog__item-img-i.b-lazy
                    .blog__item-info
                      .blog__item-date 12.12.2012
                      .blog__item-title Название новости в 1 или несколько строк
                      .blog__item-desc Описание новости в несколько строк, обычно в 3 строки Описание новости в несколько строк, обычно в 3 строки.





